<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DHC Coin - The Internet of Blockchain</title>
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.cdnfonts.com/css/helvetica-neue-5"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
  </head>

  <body class="bg-zinc-950 text-white">
    <header class="flex justify-between bg-[#ffffff05] p-5">
      <!-- <img class="w-20 h-20" src="./image/logo.svg" alt=""> -->
      <div class="inline-flex h-6 w-80 items-start justify-start gap-10">
        <a class="cursor-pointer font-sans text-base font-medium">Services</a>
        <a class="cursor-pointer font-sans text-base font-medium">DHC HUB</a>
        <a class="cursor-pointer font-sans text-base font-medium">Explore</a>
      </div>
      <button
        class="select-none rounded-lg bg-indigo-500 p-3 font-sans text-sm font-medium"
      >
        <i class="fa fa-sign-in" aria-hidden="true"></i> Login with Metamask
      </button>
    </header>
    <section class="flex h-screen flex-col items-center justify-center">
      <div
        class="pointer-events-none relative -left-96 top-0 z-0 h-80 w-80 select-none"
      >
        <img
          src="./image/IcosaDHC.svg"
          class="absolute z-0 h-80 w-80 saturate-200"
        />
      </div>
      <div
        class="text-white/opacity-60 mb-3 font-sans text-sm font-medium tracking-widest"
      >
        WELCOME TO DHC
      </div>
      <div
        class="z-50 inline-block bg-gradient-to-r from-white to-gray-400 bg-clip-text text-center font-serif text-9xl font-bold text-transparent"
      >
        The Internet of<br />Blockchains.
      </div>
      <div
        class="z-50 h-24 w-96 text-center font-sans text-base font-normal tracking-tight text-white"
      >
        We provide user-friendly, efficient, and secure crypto solutions and
        utilize blockchain technology.
      </div>
      <div
        class="pointer-events-none relative -top-64 left-96 z-0 h-96 w-96 select-none blur-sm saturate-200"
      >
        <img class="absolute z-0 h-96 w-96" src="./image/IcosaDHC.svg" />
      </div>
    </section>
    <section class="w-full">
      <div class="pointer-events-none relative z-0 select-none">
        <img
          src="./image/Helix.svg"
          class="absolute -left-11 top-32 h-96 w-96 saturate-200"
        />
      </div>
      <div class="z-50 box-border flex w-full justify-between p-40 pb-5">
        <div
          class="z-50 box-border flex h-96 w-96 flex-col items-start justify-start"
        >
          <div
            class="text-white/opacity-60 font-sans text-xl font-medium tracking-widest"
          >
            DHC Coin and Services
          </div>
          <div
            class="whitespace-nowrap bg-gradient-to-r from-white to-gray-300 bg-clip-text text-center font-serif text-6xl font-bold text-transparent"
          >
            Enter a Universe<br />of Connected<br />Services.
          </div>
          <div
            class="text-center font-sans text-xl font-normal tracking-tight text-white"
          >
            DHC Coin and Services: Embark on an Expansive Journey into a
            Universe of Interconnected Services, Where Limitless Opportunities
            Await.
          </div>
          <button
            class="mt-5 select-none self-center justify-self-center rounded-lg bg-indigo-500 px-10 py-4 text-center font-sans text-lg font-medium"
          >
            Learn more <i class="fa-solid fa-arrow-right"></i>
          </button>
        </div>
        <div class="flex flex-col justify-center">
          <div class="inline-flex h-44 w-96 flex-col items-end justify-center">
            <div
              class="whitespace-nowrap bg-gradient-to-r from-white to-gray-300 bg-clip-text text-center font-serif text-6xl font-bold text-transparent"
            >
              265+
            </div>
            <div
              class="text-center font-sans text-3xl font-normal tracking-tight text-white"
            >
              Apps & services
            </div>
          </div>
          <div class="inline-flex h-44 w-96 flex-col items-end justify-center">
            <div
              class="whitespace-nowrap bg-gradient-to-r from-white to-gray-300 bg-clip-text text-center font-serif text-6xl font-bold text-transparent"
            >
              $63B+
            </div>
            <div
              class="text-right font-sans text-3xl font-normal tracking-tight text-white"
            >
              Digital assets
            </div>
          </div>
        </div>
      </div>
      <div
        class="z-50 mt-10 w-full p-24 text-center font-sans text-3xl font-normal tracking-tight text-white"
      >
        DHC coin and services connect using IBC,the Inter-Blockchain
        Communication protocol. This innovation enables you to freely exchange
        assets and data across sovereign.
      </div>
    </section>
    <section class="w-full">
      <div class="pointer-events-none relative z-0 select-none blur-sm">
        <img
          src="./image/Thorus.svg"
          class="absolute -top-20 left-96 z-0 h-96 w-96 saturate-200"
          alt=""
        />
      </div>

      <div class="z-50 flex flex-col items-center justify-center">
        <div class="flex max-w-md flex-col items-center justify-center">
          <a
            class="text-white/opacity-60 z-50 mb-5 font-sans text-sm font-medium tracking-widest"
            href="#"
            >ENTER THE DHC HUB</a
          >
          <div
            class="z-50 whitespace-nowrap bg-gradient-to-r from-white to-gray-300 bg-clip-text text-center font-serif text-5xl font-bold text-transparent"
          >
            The Heart of the <br />
            Interchain.
          </div>
          <div
            class="z-50 mb-5 text-center font-sans text-sm font-medium tracking-widest text-white"
          >
            Serving as the economic center of DHC, the DHC Hub is a blockchain
            that provides vital services to the Interchain
          </div>
        </div>
      </div>
      <div
        class="z-50 flex w-full flex-col content-center items-center justify-center"
      >
        <div class="z-50 grid-cols-1 sm:grid-cols-2">
          <div
            class="inline-flex h-96 w-96 flex-col items-center justify-center gap-4"
          >
            <div class="pointer-events-none h-60 w-60 select-none">
              <img class="h-60 w-60" src="./image/market.png" />
            </div>
            <div class="flex flex-col items-start justify-start">
              <div
                class="text-center font-sans text-2xl font-bold tracking-wide text-white"
              >
                Marketplace
              </div>
              <div
                class="font-sans text-xl font-normal tracking-tight text-white"
              >
                Set to operate a next-gen <br />decentralized exchange, swapping
                <br />digital assets from across the <br />Interchain, with very
                low fees and <br />instant transaction confirmation.
              </div>
            </div>
          </div>
          <div
            class="inline-flex h-96 w-96 flex-col items-center justify-center gap-4"
          >
            <div class="pointer-events-none h-60 w-60 select-none">
              <img class="h-60 w-60" src="./image/security.png" />
            </div>
            <div class="flex flex-col items-start justify-start">
              <div
                class="text-center font-sans text-2xl font-bold tracking-wide text-white"
              >
                Security provider
              </div>
              <div
                class="font-sans text-xl font-normal tracking-tight text-white"
              >
                With the upcoming Interchain <br />Security feature, DHC will
                soon be<br />
                securing many chains, in exchange<br />
                for additional staking rewards.
              </div>
            </div>
          </div>
          <div class="mt-10 grid-cols-1 sm:grid-cols-2">
            <div
              class="inline-flex h-96 w-96 flex-col items-center justify-center gap-4"
            >
              <div class="pointer-events-none h-60 w-60 select-none">
                <img
                  class="h-60 w-60"
                  src="./image/chart-dynamic-premium.png"
                />
              </div>
              <div class="flex flex-col items-start justify-start">
                <div
                  class="text-center font-sans text-2xl font-bold tracking-wide text-white"
                >
                  Router
                </div>
                <div
                  class="font-sans text-xl font-normal tracking-tight text-white"
                >
                  A core mission of the Hub – to <br />connect chains by
                  establishing <br />IBC connections with compatible
                  <br />chains and operating decentralized <br />bridges with
                  chains like USDT.
                </div>
              </div>
            </div>
            <div
              class="inline-flex h-96 w-96 flex-col items-center justify-center gap-4"
            >
              <div class="pointer-events-none h-60 w-60 select-none">
                <img class="h-60 w-60" src="./image/guardian.png" />
              </div>
              <div class="flex flex-col items-start justify-start">
                <div
                  class="text-center font-sans text-2xl font-bold tracking-wide text-white"
                >
                  Custodian
                </div>
                <div
                  class="font-sans text-xl font-normal tracking-tight text-white"
                >
                  Located at the crossroads of the <br />Interchain, the Hub is
                  extremely <br />secure, the best place to hold <br />digital
                  assets and manage <br />accounts across many chains.
                </div>
              </div>
            </div>
          </div>
        </div>
        <button
          class="mt-14 select-none rounded-lg bg-indigo-500 px-10 py-4 font-sans text-lg font-medium"
        >
          Connect to DHC HUB <i class="fa-solid fa-arrow-right"></i>
        </button>
      </div>
    </section>
    <section class="flex items-center justify-between px-40">
      <div class="pointer-events-none select-none">
        <img
          class="h-96 w-96 drop-shadow-[0_0_45px_rgba(99,102,241,0.75)]"
          src="./image/IcosaDHC.svg"
        />
      </div>
      <div>
        <div
          class="whitespace-nowrap bg-gradient-to-r from-white to-gray-300 bg-clip-text text-center font-serif text-6xl font-bold text-transparent"
        >
          Secured by <br />the DHC.
        </div>
        <div class="font-sans text-xl font-normal tracking-tight text-white">
          In return for securing the services on <br />the DHC Hub, transaction
          fees <br />and staking rewards are distributed <br />to DHC stakers.
        </div>
      </div>
    </section>
    <section class="mt-20 px-40">
      <div
        class="whitespace-nowrap bg-gradient-to-r from-white to-gray-300 bg-clip-text text-center font-serif text-5xl font-bold text-transparent"
      >
        Be Part of the Open<br />
        Economy of the Future.
        <div class="mt-5 cursor-pointer text-sm">
          Powerful features <i class="fa-solid fa-arrow-right"></i>
        </div>
      </div>
      <div class="flex justify-center">
        <div class="m-5 rounded-lg bg-neutral-900 p-5 text-center">
          <div
            class="font-sans text-sm font-normal tracking-tight text-gray-300"
          >
            INTERCHAIN ACCOUNTS
          </div>
          <img
            class="pointer-events-none mx-auto h-96 w-96 min-w-96 select-none"
            src="./image/locker-dynamic-premium.png"
            alt=""
          />
          <div
            class="bg-gradient-to-r from-white to-gray-400 bg-clip-text font-serif text-2xl font-bold text-transparent"
          >
            One secure account for all your digital assets.
          </div>
          <div
            class="font-sans text-sm font-normal tracking-tight text-gray-300"
          >
            COMING SOON
          </div>
        </div>
        <div class="flex flex-col">
          <div class="m-5 rounded-lg bg-neutral-900 p-5 text-center">
            <div
              class="font-sans text-sm font-normal tracking-tight text-gray-300"
            >
              DECENTRALIZED EXCHANGE
            </div>
            <div class="flex items-center justify-center">
              <img
                class="pointer-events-none mr-3 h-52 w-52 select-none"
                src="./image/yuan-dynamic-premium.png"
                alt=""
              />
              <div
                class="bg-gradient-to-r from-white to-gray-500 bg-clip-text font-serif text-3xl font-bold text-transparent"
              >
                Swap tokens & collectibles.
              </div>
            </div>
            <div
              class="font-sans text-sm font-normal tracking-tight text-gray-300"
            >
              COMING SOON
            </div>
          </div>
          <div class="flex flex-grow justify-between">
            <div
              class="m-5 flex-grow rounded-lg bg-neutral-900 p-5 text-center"
            >
              <div
                class="font-sans text-sm font-normal tracking-tight text-gray-300"
              >
                LIQUIDITY POOL
              </div>
              <div
                class="bg-gradient-to-r from-white to-gray-400 bg-clip-text font-serif text-2xl font-bold text-transparent"
              >
                Provide liquidity, earn rewards.
              </div>
              <div
                class="font-sans text-sm font-normal tracking-tight text-gray-300"
              >
                <div
                  class="font-sans text-sm font-normal tracking-tight text-gray-300"
                >
                  COMING SOON
                </div>
              </div>
            </div>
            <div
              class="m-5 flex-grow rounded-lg bg-neutral-900 p-5 text-center"
            >
              WRAPPED
              <div
                class="bg-gradient-to-r from-white to-gray-400 bg-clip-text font-serif text-2xl font-bold text-transparent"
              >
                ETH Eth Included
              </div>
              <div
                class="font-sans text-sm font-normal tracking-tight text-gray-300"
              >
                COMING SOON
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="mt-10 bg-[#ffffff05] py-8 text-white">
      <div class="container mx-auto px-4">
        <div class="grid grid-cols-1 gap-8 md:grid-cols-2">
          <div>
            <h3 class="mb-4 text-xl font-bold">Get in Touch</h3>
            <form action="#" method="POST">
              <div class="mb-4">
                <label for="name" class="block text-sm font-medium"
                  >Your Name</label
                >
                <input
                  type="text"
                  id="name"
                  name="name"
                  class="mt-1 block w-full rounded-md border-2 border-gray-300 text-black shadow-sm focus:border-indigo-500 focus:outline-none"
                />
              </div>
              <div class="mb-4">
                <label for="email" class="block text-sm font-medium"
                  >Your Email</label
                >
                <input
                  type="email"
                  id="email"
                  name="email"
                  class="mt-1 block w-full rounded-md border-2 border-gray-300 text-black shadow-sm focus:border-2 focus:border-indigo-500 focus:outline-none"
                />
              </div>
              <div class="mb-4">
                <label for="message" class="block text-sm font-medium"
                  >Message</label
                >
                <textarea
                  id="message"
                  name="message"
                  rows="2"
                  class="mt-1 block w-full rounded-md border-2 border-gray-300 text-black shadow-sm focus:border-indigo-500 focus:outline-none"
                ></textarea>
              </div>
              <div>
                <button
                  type="submit"
                  class="rounded-md bg-indigo-500 px-4 py-2 text-white transition-colors duration-300 hover:bg-indigo-600"
                >
                  Send Message
                </button>
              </div>
            </form>
          </div>
          <div>
            <h3 class="mb-4 text-xl font-bold">Contact Information</h3>
            <p class="mb-2">
              <i class="fa-brands fa-telegram mr-2 text-indigo-500"></i
              >t.me/dhccoin
            </p>
            <p class="mb-2">
              <i class="fas fa-envelope mr-2 text-indigo-500"></i
              >contact&#64;dhccoin.com
            </p>
            <p>
              <i class="fas fa-globe mr-2 text-indigo-500"></i>www.dhccoin.com
            </p>
          </div>
        </div>
      </div>
      <div class="container mx-auto px-4">
        <div class="flex items-center justify-center">
          <div
            class="text-white/opacity-60 font-sans text-sm font-medium tracking-widest"
          >
            <p class="text-sm">&copy; 2024 DHC Coin. All rights reserved.</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
