<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link rel="stylesheet" href="./css/style.css">
    </head>

    <body class="flex min-h-screen justify-center items-center">
        <form action="" id="login" class="flex flex-col items-center">
            <img src="https://placehold.co/50x50" alt="" class="rounded-[50%] w-3/4">
            <label for="username" class="justify-self-start self-start">Tên tài khoản:</label>
            <input type="text" id="username" name="username"
                class="border border-blue-400 focus:outline-none py-2 px-4 rounded hover:border-blue-900" required
                oninvalid="this.setCustomValidity('Vui lòng nhập tên tài khoản!')" oninput="this.setCustomValidity('')"
                autocomplete="false" placeholder="Nhập tên tài khoản">
            <label for="password" class="justify-self-start self-start">Mật khẩu:</label>
            <input type="password" id="password" name="password"
                class="border border-blue-400 focus:outline-none py-2 px-4 rounded" required
                oninvalid="this.setCustomValidity('Vui lòng nhập mật khẩu!')" oninput="this.setCustomValidity('')"
                autocomplete="false" placeholder="Nhập mật khẩu">
            <span class="text-red-500 hidden">Sai mật khẩu, vui lòng thử lại!</span>
            <button type="submit"
                class="bg-blue-400 hover:bg-blue-500 text-white font-bold py-2 px-4 rounded focus:bg-blue-500 mt-5">Đăng
                nhập</button>
        </form>
    </body>
    <script>
        var fakeDB = {
            username: 'admin',
            password: '123'
        }
        document.getElementById('login').addEventListener('submit', function (e) {
            e.preventDefault();
            var username = document.getElementById('username').value;
            var password = document.getElementById('password').value;
            if (username === fakeDB.username && password === fakeDB.password) {
                document.querySelector('span').classList.add('hidden');
                window.location.href = 'http://0.0.0.0:3000/public/ok.ejs'
            } else {
                document.getElementById('password').value = '';
                document.querySelector('span').classList.remove('hidden');
            }
        })
    </script>

</html>