<!doctype html>
<html class="touch-pan-y overflow-x-hidden scroll-smooth">

    <head>
        <title>DHC Coin - The Internet of Blockchain</title>
        <link rel="shortcut icon" href="./image/logo.png" type="image/x-icon" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://cdn.jsdelivr.net/npm/web3@4.8.0/dist/web3.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
        <link rel="stylesheet" href="./css/style.css" />
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script>
            document.addEventListener("DOMContentLoaded", () => {
                const menuButton = document.getElementById("menu-button");
                const mobileMenu = document.getElementById("mobile-menu");
                menuButton.addEventListener("click", () => {
                    mobileMenu.classList.toggle("hidden");
                    menuButton.classList.toggle("fa-bars");
                    menuButton.classList.toggle("fa-times");
                });
                document.querySelectorAll('a[href^="#"]').forEach((anchor) => {
                    anchor.addEventListener("click", function (e) {
                        e.preventDefault();

                        document.querySelector(this.getAttribute("href")).scrollIntoView({
                            behavior: "smooth",
                        });
                    });
                });
            });
            window.onscroll = () => {
                if (
                    document.body.scrollTop > 20 ||
                    document.documentElement.scrollTop > 20
                ) {
                    document.getElementById("scrollBtn").classList.remove("hidden");
                } else {
                    document.getElementById("scrollBtn").classList.add("hidden");
                }
            };

            function scrollToTop() {
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            }
        </script>
    </head>

    <body class="overflow-hidden bg-gradient-to-r from-black to-gray-800 text-white">
        <span id="circle"
            class="pointer-events-none fixed z-40 hidden h-8 w-8 -translate-x-1/2 -translate-y-1/2 rounded-[50%] border-2 border-solid border-indigo-500 mix-blend-difference transition-transform duration-300 sm:block"></span>
        <span id="dot"
            class="pointer-events-none fixed z-40 hidden h-3 w-3 -translate-x-1/2 -translate-y-1/2 rounded-[50%] bg-indigo-500 mix-blend-difference transition-transform duration-300 sm:block"></span>
        <script>
            var xp = 0,
                mouseX = 0;
            var yp = 0,
                mouseY = 0;
            var xpDot = 0,
                mouseX = 0;
            var ypDot = 0,
                mouseY = 0;
            const cursorFollower = document.querySelector("#circle");
            const cursorFollowerDot = document.querySelector("#dot");

            document.addEventListener("mousemove", (e) => {
                mouseX = e.clientX;
                mouseY = e.clientY;
            });

            setInterval(function () {
                xp += (mouseX - xp) / 15;
                yp += (mouseY - yp) / 15;
                cursorFollower.style.left = xp + "px";
                cursorFollower.style.top = yp + "px";
            }, 10);

            setInterval(function () {
                xpDot += (mouseX - xpDot) / 25;
                ypDot += (mouseY - ypDot) / 25;

                cursorFollowerDot.style.left = xpDot + "px";
                cursorFollowerDot.style.top = ypDot + "px";
            }, 10);
        </script>
        <header class="flex items-center justify-between bg-[#ffffff05] p-5">
            <div class="hidden h-6 w-80 items-start justify-start gap-10 lg:inline-flex">
                <a href="#hub" class="cursor-pointer font-sans text-base font-medium hover:text-indigo-400">DHC HUB</a>
                <a href="#features"
                    class="cursor-pointer font-sans text-base font-medium hover:text-indigo-400">Explore</a>
            </div>
            <div id="mobile-menu" class="relative hidden">
                <div
                    class="z-50 absolute top-10 flex h-6 w-80 flex-col items-start justify-start gap-10 bg-[#ffffff05]">
                    <a href="#hub" class="cursor-pointer font-sans text-base font-medium">DHC HUB</a>
                    <a href="#features" class="cursor-pointer font-sans text-base font-medium">Explore</a>
                </div>
            </div>
            <div id="menu-button" class="fa-solid fa-bars fa-lg p-5 lg:hidden"></div>
            <button id="my-account"
                class="select-none rounded-lg bg-indigo-500 p-3 font-sans text-sm font-medium hover:bg-indigo-400 focus:bg-indigo-400">
                <i class="fa-solid fa-circle-user mr-2"></i>My account
            </button>
        </header>
        <div class="pointer-events-none relative left-10 top-36 z-0 select-none">
            <img src="./image/IcosaDHC.svg" class="absolute z-0 h-80 w-80 animate-pulse saturate-200" />
        </div>
        <div class="z-40 my-10 flex flex-col sm:flex-row">
            <section data-aos="fade-right" data-aos-duration="500"
                class="z-40 m-5 flex-grow rounded-lg border border-indigo-400 bg-gradient-to-r from-[#000000fa] to-[#ffffff05] p-5 sm:w-1/2">
                <div class="font-sans text-xl font-bold tracking-wide text-white">
                    Buy DHC Tokens
                </div>
                <div class="font-sans text-sm font-normal tracking-tight text-gray-300">
                    You can buy our DHC tokens using USDT to become part of Our project.
                </div>
                <div class="mt-3 font-sans text-xl font-bold tracking-wide text-white">
                    AMOUNT OF CONTRIBUTE
                </div>
                <div class="font-sans text-sm font-normal tracking-tight text-gray-300">
                    Enter your amount, you would like to contribute and calculate the
                    amount of token you will receive. The calculator helps to convert
                    required currency to tokens.
                </div>
                <div class="mt-3 flex flex-row justify-center items-center sm:flex-row">
                    <div class="flex w-full items-center justify-center">
                        <input type="number" id="amount"
                            class="w-4/5 appearance-none rounded-md rounded-r-none border border-indigo-400 bg-transparent p-3 focus:outline-none"
                            autocomplete="off" />
                        <div
                            class="flex items-center justify-center rounded rounded-l-none border-l-0 border border-indigo-400 bg-transparent p-3">
                            <img class="pointer-events-none mr-2 box-border h-4 max-h-full w-4 max-w-full select-none drop-shadow-[0_0_45px_rgba(99,102,241,0.75)]"
                                src="./image/tether-usdt-logo.svg" alt="" />USDT
                        </div>
                    </div>
                    <div class="self-start whitespace-nowrap sm:self-center p-3">
                        = 10 <b>DHC</b>
                    </div>
                </div>
                <button
                    class="m-3 ml-0 select-none rounded-lg bg-indigo-500 p-3 font-sans text-sm font-medium hover:bg-indigo-400 focus:bg-indigo-400">
                    Make Payment <i class="fa-solid fa-credit-card"></i>
                </button>
                <div>Balance token: 10 + 10 = 20 DHC</div>
                <hr class="my-3 border-indigo-400" />
                <div class="font-sans text-sm font-normal tracking-tight text-gray-300">
                    <i class="fa-solid fa-circle-info text-indigo-500"></i> Tokens will
                    appear in your account after payment successfully made. Please note
                    that, DHC tokens will be distributed after the end of Pre-sale.
                </div>
            </section>
            <section data-aos="fade-left" data-aos-duration="500"
                class="z-40 m-5 flex-grow rounded-lg border border-indigo-400 bg-gradient-to-r from-[#0000002e] via-[#000000db] to-[#ffffff05] p-5 pb-0 sm:w-1/2">
                <div class="z-40 text-center font-sans text-xl font-bold tracking-wide text-white">
                    TOKEN SALES PROGRESS
                </div>
                <div class="flex h-full flex-col items-center justify-center">
                    <div class="m-3 flex w-full justify-between">
                        <div class="whitespace-nowrap p-3 sm:flex">
                            Raised
                            <p class="hidden sm:block">-</p>
                            <br class="block sm:hidden" /><b class="font-bold">45 DHC</b>
                        </div>
                        <div class="whitespace-nowrap p-3 sm:flex">
                            Target
                            <p class="hidden sm:block">-</p>
                            <br class="block sm:hidden" /><b class="font-bold">100 DHC</b>
                        </div>
                    </div>
                    <div class="h-2.5 w-full rounded-full bg-gray-200 dark:bg-gray-700">
                        <div class="relative flex h-2.5 w-[25%] items-center justify-end">
                            <div class="absolute z-30 h-7 border border-white"></div>
                        </div>
                        <div class="relative flex h-2.5 w-[50%] items-center justify-end">
                            <div class="absolute -top-4 z-30 h-7 border border-white"></div>
                        </div>
                        <div class="relative flex h-2.5 w-[75%] items-center justify-end">
                            <div class="absolute -top-6 z-30 h-7 border border-white"></div>
                        </div>
                        <div
                            class="relative -top-[30px] flex h-2.5 w-[45%] items-center justify-end rounded-full bg-indigo-500">
                            <div class="absolute h-5 w-5 rounded-[50%] border-2 border-white bg-indigo-500"></div>
                        </div>
                        <div class="flex w-full">
                            <div class="w-[25%] text-right text-sm sm:text-lg">SOFT</div>
                            <div class="w-[15%] text-left text-sm sm:text-lg">CAP</div>
                            <div class="w-[10%] text-right text-sm sm:text-lg">CROWD</div>
                            <div class="w-[10%] text-left text-sm sm:text-lg">
                                <br class="block sm:hidden" />SALE
                            </div>
                            <div class="w-[15%] text-right text-sm sm:text-lg">HARD</div>
                            <div class="w-[25%] text-left text-sm sm:text-lg">CAP</div>
                        </div>
                    </div>
                    <div
                        class="mt-20 flex justify-center w-full sm:border-b sm:border-l sm:border-t sm:rounded-r-lg sm:border-r sm:rounded-l-lg border-indigo-400">
                        <div class="flex items-center justify-center border-r border-t border-indigo-400 sm:border-t-0">
                            <div class="whitespace-nowrap p-8 pr-0 text-sm font-normal">
                                <b class="text-xl">$0.18</b> <br />
                                Current Round
                            </div>
                            <div class="inline-block max-h-6 max-w-fit -rotate-90 transform rounded bg-indigo-500 px-2">
                                <b>Now</b>
                            </div>
                        </div>
                        <div class="whitespace-nowrap border-t border-indigo-400 p-8 text-sm font-normal sm:border-t-0">
                            <b class="text-xl">$0.19</b> <br />
                            Next Round
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="pointer-events-none relative z-0 select-none">
            <img src="./image/IcosaDHC.svg"
                class="absolute -top-52 right-5 z-0 h-40 w-40 animate-bounce drop-shadow-[0_0_45px_rgba(99,102,241,0.75)] saturate-200" />
        </div>
        <section id="hub" data-aos="fade-down" class="w-full p-2">
            <div data-aos="fade-up" class="pointer-events-none relative z-0 select-none blur-sm">
                <img data-aos="fade-up" src="./image/Thorus.svg"
                    class="absolute z-0 saturate-200 lg:-top-20 lg:left-96 lg:h-96 lg:w-96" alt="" />
            </div>

            <div data-aos="fade-up" class="z-40 flex flex-col items-center justify-center">
                <div data-aos="fade-up" class="flex max-w-md flex-col items-center justify-center">
                    <a class="text-white/opacity-60 z-40 mb-5 font-sans text-sm font-medium tracking-widest"
                        href="#">ENTER THE DHC HUB</a>
                    <div data-aos="fade-up"
                        class="z-40 whitespace-nowrap bg-gradient-to-r from-white to-gray-300 bg-clip-text text-center font-serif text-3xl font-bold text-transparent lg:text-5xl">
                        The Heart of the <br />
                        Interchain.
                    </div>
                    <div class="z-40 mb-5 text-center font-sans text-sm font-medium tracking-widest text-white">
                        Serving as the economic center of DHC, the DHC Hub is a blockchain
                        that provides vital services to the Interchain
                    </div>
                </div>
            </div>
            <div class="z-40 flex w-full flex-col content-center items-center justify-center">
                <div class="z-40 grid grid-cols-1 sm:block sm:grid-cols-2">
                    <div class="inline-flex flex-col items-center justify-center gap-4 lg:h-96 lg:w-96">
                        <div data-aos="fade-right" class="pointer-events-none h-60 w-60 select-none">
                            <img class="h-60 w-60" src="./image/market.png" />
                        </div>
                        <div data-aos="fade-right" class="flex flex-col items-start justify-start">
                            <div class="text-center font-sans text-2xl font-bold tracking-wide text-white">
                                Marketplace
                            </div>
                            <div data-aos="fade-right" class="font-sans text-xl font-normal tracking-tight text-white">
                                Set to operate a next-gen <br />decentralized exchange, swapping
                                <br />digital assets from across the <br />Interchain, with very
                                low fees and <br />instant transaction confirmation.
                            </div>
                        </div>
                    </div>
                    <div data-aos="fade-left"
                        class="inline-flex flex-col items-center justify-center gap-4 lg:h-96 lg:w-96">
                        <div data-aos="fade-left" class="pointer-events-none h-60 w-60 select-none">
                            <img class="h-60 w-60" src="./image/security.png" />
                        </div>
                        <div data-aos="fade-left" class="flex flex-col items-start justify-start">
                            <div class="text-center font-sans text-2xl font-bold tracking-wide text-white">
                                Security provider
                            </div>
                            <div data-aos="fade-left" class="font-sans text-xl font-normal tracking-tight text-white">
                                With the upcoming Interchain <br />Security feature, DHC will
                                soon be<br />
                                securing many chains, in exchange<br />
                                for additional staking rewards.
                            </div>
                        </div>
                    </div>
                    <div data-aos="fade-right" class="mt-10 grid grid-cols-1 sm:grid-cols-2">
                        <div data-aos="fade-right"
                            class="inline-flex flex-col items-center justify-center gap-4 lg:h-96 lg:w-96">
                            <div class="h-50 w-50 pointer-events-none select-none">
                                <img class="h-50 w-50" src="./image/chart-dynamic-premium.png" />
                            </div>
                            <div data-aos="fade-right" class="flex flex-col items-start justify-start">
                                <div class="text-center font-sans text-2xl font-bold tracking-wide text-white">
                                    Router
                                </div>
                                <div data-aos="fade-right"
                                    class="font-sans text-xl font-normal tracking-tight text-white">
                                    A core mission of the Hub – to <br />connect chains by
                                    establishing <br />IBC connections with compatible
                                    <br />chains and operating decentralized <br />bridges with
                                    chains like USDT.
                                </div>
                            </div>
                        </div>
                        <div data-aos="fade-left"
                            class="inline-flex flex-col items-center justify-center gap-4 lg:h-96 lg:w-96">
                            <div data-aos="fade-left" class="pointer-events-none h-60 w-60 select-none">
                                <img class="h-60 w-60" src="./image/guardian.png" />
                            </div>
                            <div data-aos="fade-left" class="flex flex-col items-start justify-start">
                                <div data-aos="fade-left"
                                    class="text-center font-sans text-2xl font-bold tracking-wide text-white">
                                    Custodian
                                </div>
                                <div data-aos="fade-left"
                                    class="font-sans text-xl font-normal tracking-tight text-white">
                                    Located at the crossroads of the <br />Interchain, the Hub is
                                    extremely <br />secure, the best place to hold <br />digital
                                    assets and manage <br />accounts across many chains.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a target="_blank" href="https://t.me/dhccoin" data-aos="fade-up"
                    class="mt-14 select-none rounded-lg bg-indigo-500 px-10 py-4 font-sans text-lg font-medium hover:bg-indigo-400 focus:bg-indigo-400">
                    Connect to DHC HUB <i class="fa-solid fa-arrow-right"></i>
                </a>
            </div>
        </section>
        <section id="features" class="flex flex-col items-center p-2 lg:flex-row lg:justify-between lg:px-40">
            <div data-aos="fade-right" class="pointer-events-none select-none">
                <img class="drop-shadow-[0_0_45px_rgba(99,102,241,0.75)] lg:h-96 lg:w-96" src="./image/IcosaDHC.svg" />
            </div>
            <div>
                <div data-aos="fade-left"
                    class="bg-gradient-to-r from-white to-gray-300 bg-clip-text text-center font-serif text-3xl font-bold text-transparent lg:whitespace-nowrap lg:text-6xl">
                    Secured by <br />the DHC.
                </div>
                <div data-aos="fade-left" class="font-sans text-xl font-normal tracking-tight text-white">
                    In return for securing the services on <br />the DHC Hub, transaction
                    fees <br />and staking rewards are distributed <br />to DHC stakers.
                </div>
            </div>
        </section>
        <button onclick="scrollToTop()" id="scrollBtn"
            class="fixed bottom-2 right-2 z-40 hidden h-12 w-12 rounded-[50%] border-0 bg-indigo-500 text-white hover:bg-indigo-400 sm:bottom-5 sm:right-5">
            <i class="fa-solid fa-caret-up"></i>
        </button>
        <footer class="mt-10 bg-[#ffffff05] py-8 text-white">
            <div class="container mx-auto px-4">
                <div class="grid grid-cols-1 gap-8 md:grid-cols-2">
                    <div>
                        <h3 class="mb-4 text-xl font-bold">Get in Touch</h3>
                        <form action="#" method="POST">
                            <div class="mb-4">
                                <label for="name" class="block text-sm font-medium">Your Name</label>
                                <input type="text" id="name" name="name"
                                    class="mt-1 block w-full rounded-md border-2 border-gray-300 text-black shadow-sm focus:border-indigo-500 focus:outline-none" />
                            </div>
                            <div class="mb-4">
                                <label for="email" class="block text-sm font-medium">Your Email</label>
                                <input type="email" id="email" name="email"
                                    class="mt-1 block w-full rounded-md border-2 border-gray-300 text-black shadow-sm focus:border-2 focus:border-indigo-500 focus:outline-none" />
                            </div>
                            <div class="mb-4">
                                <label for="message" class="block text-sm font-medium">Message</label>
                                <textarea id="message" name="message" rows="2"
                                    class="mt-1 block w-full rounded-md border-2 border-gray-300 text-black shadow-sm focus:border-indigo-500 focus:outline-none"></textarea>
                            </div>
                            <div>
                                <button type="submit"
                                    class="rounded-md bg-indigo-500 px-4 py-2 text-white transition-colors duration-300 hover:bg-indigo-600">
                                    Send Message
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="flex flex-col">
                        <h3 class="mb-4 text-xl font-bold">Contact Information</h3>
                        <a class="mb-2" target="_blank" href="https://t.me/dhccoin">
                            <i class="fa-brands fa-telegram mr-2 text-indigo-500"></i>t.me/dhccoin
                        </a>
                        <a class="mb-2" target="_blank" href="mailto:contact&#64;dhccoin.com">
                            <i class="fas fa-envelope mr-2 text-indigo-500"></i>contact&#64;dhccoin.com
                        </a>
                        <a href="https://www.dhccoin.com">
                            <i class="fas fa-globe mr-2 text-indigo-500"></i>www.dhccoin.com
                        </a>
                    </div>
                </div>
            </div>
            <div class="container pointer-events-none mx-auto mt-5 select-none px-4 lg:mt-5">
                <div class="flex items-center justify-center">
                    <div class="text-white/opacity-60 font-sans text-sm font-medium tracking-widest">
                        <p class="text-sm">&copy; 2024 DHC Coin. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </footer>
        <script>
            AOS.init({
                startEvent: "DOMContentLoaded",
                duration: 500,
                easing: "ease-in-out",
            });
        </script>
    </body>

</html>