<!doctype html>
<html lang="en" class="box-border">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>DHC COIN - The Internet of Blockchain</title>
        <link rel="stylesheet" href="../public/css/style.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    </head>

    <body class="min-h-screen bg-white">
        <header class="bg-gradient-to-r from-[#82448D] to-[#533FE4] py-8">

        </header>
        <div>
            <div class="w-2/12 fixed top-0 left-0 h-screen bg-white flex flex-col justify-start py-5 select-none shadow-2xl">
                <div class="fa-solid fa-angles-left text-right text-[#82448D] px-5 cursor-pointer"></div>
                <input type="text"
                    class="select-none bg-gradient-to-r from-[#82448D] to-[#533FE4] bg-clip-text font-serif text-transparent hover:bg-gradient-to-r hover:from-[#533FE4] hover:to-[#82448D] cursor-pointer hover:brightness-200 hover:p-1 font-bold focus:bg-gradient-to-r focus:from-[#533FE4] focus:to-[#82448D] focus:bg-clip-border text-center focus:text-white focus:p-1 focus:outline-none"
                    value="Khách hàng" readonly>
                <input type="text"
                    class="select-none bg-gradient-to-r from-[#82448D] to-[#533FE4] bg-clip-text font-serif text-transparent hover:bg-gradient-to-r hover:from-[#533FE4] hover:to-[#82448D] cursor-pointer hover:brightness-200 hover:p-1 font-bold focus:bg-gradient-to-r focus:from-[#533FE4] focus:to-[#82448D] focus:bg-clip-border text-center focus:text-white focus:p-1 focus:outline-none"
                    value="Nhân viên" readonly>
                <input type="text"
                    class="select-none bg-gradient-to-r from-[#82448D] to-[#533FE4] bg-clip-text font-serif text-transparent hover:bg-gradient-to-r hover:from-[#533FE4] hover:to-[#82448D] hover:brightness-200 hover:p-1 cursor-pointer font-bold focus:bg-gradient-to-r focus:from-[#533FE4] focus:to-[#82448D] focus:bg-clip-border text-center focus:text-white focus:p-1 focus:outline-none"
                    value="Affiliate" readonly>
            </div>
            <div class="w-5/6"></div>
        </div>
    </body>

</html>