<!doctype html>
<html lang="en" class="box-border">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DHC COIN - The Internet of Blockchain</title>
    <link rel="stylesheet" href="../public/css/style.css" />
  </head>

  <body
    class="flex min-h-screen flex-col items-center justify-center bg-cover sm:bg-gradient-to-br sm:from-[#0D0218] sm:via-[#82448D] sm:to-[#0D0218]"
    style="background-image: url(&quot;../public/image/login-image.png&quot;)"
  >
    <div
      class="flex flex-col items-center justify-center gap-4 rounded-xl border border-gray-200 bg-gradient-to-r from-gray-100 to-white p-10 opacity-95 shadow-2xl shadow-white sm:flex-row sm:p-5 sm:shadow-[#533FE4]"
    >
      <form class="flex flex-col" action="">
        <b
          class="mb-5 select-none bg-gradient-to-r from-[#82448D] to-[#533FE4] bg-clip-text text-center font-serif text-3xl text-transparent brightness-200"
          >Login</b
        >
        <label
          class="select-none bg-gradient-to-r from-[#82448D] to-[#533FE4] bg-clip-text font-serif text-transparent"
          for="username"
          >Username</label
        >
        <input
          class="rounded-lg border border-[#82448D] p-2 hover:border-[#533FE4] hover:shadow-lg focus:border-[#533FE4] focus:shadow-lg focus:outline-none"
          name="username"
          type="text"
          id="username"
        />
        <label
          class="select-none bg-gradient-to-r from-[#82448D] to-[#533FE4] bg-clip-text font-serif text-transparent"
          for="password"
          >Password</label
        >
        <input
          class="rounded-lg border border-[#82448D] p-2 hover:border-[#533FE4] hover:shadow-lg focus:border-[#533FE4] focus:shadow-lg focus:outline-none"
          type="password"
          name="password"
          id="password"
        />
        <button
          class="mt-5 select-none rounded-lg bg-gradient-to-r from-[#82448D] to-[#533FE4] p-2 font-serif text-white brightness-200 hover:bg-gradient-to-r hover:from-[#533FE4] hover:to-[#82448D] hover:brightness-150"
          type="submit"
        >
          Login
        </button>
      </form>
      <div
        class="hidden h-[90vh] select-none bg-cover hover:brightness-75 sm:block"
      >
        <img
          class="pointer-events-none h-[90vh] rounded-lg object-cover"
          src="../public/image/login-image.png"
          alt=""
        />
      </div>
    </div>
  </body>
</html>
